.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #525FE1;
    color: #fff;
    padding: 50px;
  }
  .About,
  .Courses,
  .Services {
    flex: 1;
    margin-right: 50px;
  }
  .About {
    margin-right: 40px;
  }
  .Courses h5,
  .Services h5 {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .About h5{
    font-size: 20px;
    margin-bottom: 2px;
    color:white;
    cursor: pointer;
  }
  .About ul,
  .Courses ul,
  .Services ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .About ul li,
  .Courses ul li,
  .Services ul li {
    margin-bottom: 10px;
  }
  
  .About ul li a,
  .Courses ul li a,
  .Services ul li a {
    color: white;
    text-decoration: none;
  }
  
  .subscribe {
    flex: 1;
  }
  
  .subscribe h5 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .subscribe input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .subscribe button {
    background-color: #FFCF59;
    color: #525FE1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .social-networks {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .social-networks svg {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
  }
  