.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  .about_container {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hours p {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .hours svg {
    margin-right: 5px;
  }
  
  
 
  
  