body {
  background-color: #f5f5f5;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.logo span {
  color: #525FE1;
}
menu .link{
margin-left: 200px;
}
.link a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-style: bold;
  font-family: "Poppins", sans-serif;
}
.join-container {
  display: flex;
  align-items: center;
}
.join-container button {
  margin-right: 10px;
} 
.join {
  background-color: #FFCF59;
  border-radius: 20px;
  padding: 10px 20px;
  color: #050505;
  font-size: 16px;
  border: 20px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.join-container .play-icon {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color:#525FE1;
  cursor: pointer;
}
span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.link button {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.link button a {
  color: #000000;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.link button a:last-child {
  background-color: #ffcf59;
  color: #000000;
}
.home{
  padding: 10px;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.home .left{
  width: 30%;
}
.home .right img{
  width: 110%;
  height: 350px;
  margin-left: 50%;
  border-radius: 9px;
}
.home .left .flx .logo2{
  font-size: 0px;
  height: 42px;
  width: 38px;
}
.home .left .flx{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 5px;

}
 .home .left .gettinglabel .label{
  font-weight: 700;
  font-size: 40px;
 }
.sub_container {
  display: flex;
  justify-content: space-between;
  background-color: #525FE1;
  align-items: center;
  flex-wrap: wrap; /* added */
  margin: 0 -10px; /* added */
}
.experts{
  color: white;
  /* font-size: 24px; */
}
.sub_container span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  flex: 1; /* added */
}
.sub_container span > :first-child {
  color: #fff; 
  font-size: 24px; 
}
.sub_container span:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 80%;
  width: 3px;
  background-color: #fff;
}
.sub_container_experts{
  color: white;
}

@media (max-width: 768px) { /* added */
  .sub_container span {
    flex-basis: calc(50% - 20px); /* added */
    margin-bottom: 20px; /* added */
  }

  .sub_container span:not(:last-child)::after {
    display: none; /* hide the line on smaller screens */
  }
}

