.container {
    /* padding-right: 20px; */
    width: 91%;
    margin:  0 auto;
}
  .container_service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 15%;
  }
  .container_service h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 10px;
  }
  .container_service p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 30px;
  }
.container_service_smallcard {
     display: flex;
     flex-direction: row;
    justify-content:  space-between;
  }
  .cardc {
    width: 182px;
    height: 160px;
    margin: 10px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
  }
  .cardc:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .play-icon {
    color: #525FE1; 
    font-size: 2rem; 
    margin-bottom: 10px; 
  }
  .cardc img {
    width: 100%;
    /* height: 80%; */
    margin-bottom: 10px;
    /* border-radius: 100%; */
    height: 100px; /* adjust the height as needed */
     object-fit: cover;
  }
  .cardc p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 5px;
   
  }
  
  .cardc h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #A9A9A9;
    margin-top: 5px;
  }


  /* ==========================course_cards=======================================*/
   .course_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
    
  }
  .course_cards_shortscard {
    width: 270px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  .course_cards_shortscard .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .course_cards_shortscard p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }
  
  .courseid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
  }
  
  .courseid p {
   
  }
  .iconfy{
    font-size: 24px;
    font-weight: bold;
    color: #565fca;

  }
  